@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORZAMOS EL COLOR CLARO AQUÍ */
:root {
  background-color: #FDFBF7; /* Color crema suave */
  color: #1e293b; /* Texto gris oscuro elegante */
}

body {
  @apply bg-regina-bg text-slate-800 antialiased;
  background-color: #FDFBF7; /* Doble seguridad */
}

/* Solo si activamos modo oscuro manual */
.dark body {
  @apply bg-regina-dark text-slate-100;
  background-color: #121212;
}